libnanobind-static.a
libnanobind.dylib
libnanobind.so
nanobind.dll

/.ninja_deps
/.ninja_log
/build.ninja
/build
/src/nanobind/cmake
/src/nanobind/include
/src/nanobind/ext
/src/nanobind/src
/dist
/bench

CMakeFiles
CMakeCache.txt
cmake_install.cmake
\.DS_Store
__pycache__
nanobind.egg-info
test_*_ext*

*~
.*.sw[op]
