/libnanobind-core.a
/libnanobind-core.dylib
/libnanobind-core.so
/nanobind-core.dll
/.ninja_deps
/.ninja_log
CMakeFiles
CMakeCache.txt
/build.ninja
cmake_install.cmake
\.DS_Store
__pycache__
build
test_*_ext*
