include CMakeLists.txt
include *.yaml
recursive-include cmake *.cmake
recursive-include cmake *.py
recursive-include cmake *.sym
recursive-include docs *.h
recursive-include docs *.ipynb
recursive-include docs *.jpg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.txt
recursive-include ext *.conf
recursive-include ext *.cpp
recursive-include ext *.h
recursive-include ext *.in
recursive-include ext *.md
recursive-include ext *.natvis
recursive-include ext *.txt
recursive-include ext *.yml
recursive-include include *.h
recursive-include include *.inl
recursive-include src *.cpp
recursive-include src *.h
recursive-include src *.py
recursive-include tests *.cpp
recursive-include tests *.h
recursive-include tests *.nb
recursive-include tests *.py
recursive-include tests *.pyi
recursive-include tests *.ref
recursive-include tests *.txt
include ext/robin_map/LICENSE
include .gitmodules
include ext/robin_map/.clang-format
